{% load static %}

<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
</head>
<body>
        <header>
            <div class="navbar navbar-dark bg-dark shadow-sm">
              <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                  <strong>Subtitles</strong>
                </a>
              </div>
                <a  href="/accounts/logout" class="btn btn-secondary">Log out</a>
            </div>
          </header>
          
          <main role="main">
          
            <section class="jumbotron text-center">
              <div class="container">
                <h1>Subtitles</h1>
                <p class="lead text-muted">This is an application for studying English language. Improve your skills and collect your own vocabulary!</p>
                <p>
                  <a href="/accounts/login" class="btn btn-primary my-2">Log in</a>
                  <a href="/accounts/signup" class="btn btn-secondary my-2">Log up</a>
                </p>
              </div>
            </section>
          
          </main>
          
          <footer class="text-muted">
            <div class="container">
              <p class="float-right">
                <a href="#">Back to top</a>
              </p>
              <p>Subtitles is &copy; 452 Lab, 2020.</p>
            </div>
          </footer>
</body>
</html>