{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
</head>
<body>
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
          <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
              <strong>Subtitles</strong>
            </a>
          </div>
            <div class="text-white mr-5 align-middle">User: <span class="font-weight-bolder">{{ username }}</span></div>
            <a href="/accounts/logout" class="btn btn-secondary">Log out</a>
        </div>
    </header>

    <main role="main">
        <section>
          <div class="container">

          <div class="row">
            <div class="col-lg-8 pt-3" id="textDisplay"></div>
            <div class="col-lg-4 ml-auto mr-auto pt-3 bg-light">

            <div class="input-group">
                <div class="custom-file">
                  <form action="/upload_file/" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                  </form>
                  <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                </div>
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" id="inputGroupFileAddon04">Upload</button>
                </div>
            </div>

            <div class="form-group pt-3">
              <label for="textArea">Open a text file or paste some text below.</label>
              <textarea class="form-control" id="textArea" rows="15"></textarea>
              <button class="btn btn-primary mt-3" id="textAreaButton">Upload this text</button>
            </div>
            </div>
            </div>
            
            <div class="row">
              <div class="col-lg-8 ml-auto mr-auto pb-1 text-center align-middle" id="canvas">
              </div>
              <div class="col-lg-4 bg-light" id="translation-id">
              </div>
            </div>
          </div>
        </section>
    </main>
    <script src="{% static 'main/js/profile.js' %}"></script>
    <script src="{% static 'jquery/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>